<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">DavidePonzini</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                <a class="nav-link" routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page">Store</a>
                <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                <a class="nav-link" routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page">Registration</a>
                <a class="nav-link" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
                <a class="nav-link" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin console</a>
                <a class="nav-link" routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
            </div>
        </div>
    </div>
</nav>