<app-content-tab>
    <h1>Registration</h1>
    <div class="row">
        <div class="col">
            <div class="alert alert-danger d-flex center" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <div>Username already taken, please choose a different one.</div>
            </div>

            <app-registration-form></app-registration-form>
        </div>
        <div class="col center">
            <i class="bi bi-person-circle icon-big icon-gold"></i>
        </div>
    </div>
</app-content-tab>