<app-parallax img="/assets/genova.jpg" height="80"></app-parallax>
<app-navbar></app-navbar>
<app-container>
    <app-content-tab>
        <h1>Introduzione</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt labore ut enim temporibus possimus assumenda saepe dolores, mollitia, fuga reiciendis eos deleniti nobis molestias dolore dicta fugit deserunt cupiditate ipsa?</p>
    </app-content-tab>
    <app-content-tab>
        <h1>Le nostre specialità</h1>
        <div class="row">
            <div class="col center">
                <i class="bi bi-stars icon-big icon-gold"></i>
            </div>
            <div class="col">
                <app-carousel img1="/assets/DSC_0653b-1024x1536.jpg" img2="/assets/DSC_0468-1024x1536.jpg" img3="/assets/DSC_1052.jpg"></app-carousel>

            </div>
            <div class="col center">
                <i class="bi bi-stars icon-big icon-gold"></i>
            </div>
        </div>
    </app-content-tab>
    <app-content-tab>
        <h1>La nostra storia</h1>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla asperiores animi rem recusandae illum maxime tempore corporis repudiandae facere, ut quas maiores porro nobis possimus suscipit iure dolorum beatae ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis, earum sunt, minima expedita, dolores ipsam in voluptatum qui obcaecati corporis incidunt dignissimos aut voluptatem ipsum. Asperiores illo totam et!</p>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aspernatur temporibus nisi assumenda aliquid amet, in laboriosam cum a! Nesciunt laudantium et numquam modi quo minima nemo hic doloribus dolores?</p>
            </div>
            <div class="col center">
                <i class="bi bi-bookmark-heart icon-big icon-gold"></i>
            </div>
        </div>
    </app-content-tab>
    <app-content-tab>
        <h1>Seguici sui social!</h1>
            <div class="center">
                <a class="bi bi-facebook social social-facebook"></a>
                <a class="bi bi-instagram social social-instagram"></a>
                <a class="bi bi-linkedin social social-linkedin"></a>
                <a href="https://github.com/DavidePonzini/web-tutorial" class="bi bi-github social social-github"></a>
            </div>
    </app-content-tab>
</app-container>