<app-content-tab>
    <h1>Profile</h1>
    <div class="row">
        <div class="col center">
            <h2>Name</h2>
            <p id="name"></p>
            
            <hr>
            <h2>Email</h2>
            <p id="email"></p>
            
            <hr>
            <h2>Age</h2>
            <p><span id="age"></span> seconds</p>
            
            <div id="newsletter" class="hidden">
                <hr>
                <h2>You are subscribed to the newsletter.</h2>
            </div>

            <div id="admin" class="hidden">
                <hr>
                <h2>You have admin privileges!</h2>
            </div>
        </div>
        <div class="col center">
            <i class="bi bi-person-circle icon-big icon-gold"></i>
        </div>
    </div>
</app-content-tab>