#bottom-pad {
    margin-top: 68px;
}

#products {
    text-align: center;
    height: 102vh;
}

.buy-btn-text {
    margin-left: 1rem;
}

.buy-btn-text:hover {
    cursor: pointer;
}

.card-title {
    height: 48px;
    overflow: hidden;
}

.card.bought {
    background-color: darkgreen;
    color: white;
}

.card.bought .card-text {
    color: white;
}

.card.bought a {
    color: deepskyblue;
}