<app-content-tab>
    <h1>Our products</h1>
    <div id="products"></div>  
</app-content-tab>

<!-- Can't use body { padding-bottom: ...} since it will modify other pages too -->
<div id="bottom-pad"></div>     

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-text">Total: <span id="totale">0</span> €</span>
        <a class="btn btn-primary" href="#" onclick="alert('This is a demo website, you cannot actually buy items.')">Buy</a>
    </div>
</nav>